body {
    font: 12px "Arial", sans-serif;
}

.wrapper {
    widht: 100%;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid gray;
}

.left-menu {
    width: 15%;
    border-right: 1px solid gray;
}

